

#formStudentSearch {
  margin-left:300px;
}
.checkboxs {
  font-size: 110%;
  display: inline;
  list-style-type: none;
}
input[type=checkbox]
{
  width: 20px;
  margin:0;
  /* Double-sized Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
}
.checkbox-grid li {
    display: inline-block;
    float: left;
    width: 20%;
}
#expertiseLabel{
  text-align: center;
}

ul {
  list-style: none;
}

#expertiseFilterLabel {
  text-align: center;
}

.studentImages {
  margin: 25px;
  height: 75px;
  width: 75px;
}

#studentMoreInfoImg {
  height: 100px;
  width: 100px;
}

#studentMoreInfoList {
  margin-left: -45px;
}

#studentsSectionHeader {
  text-align: center;
  margin: 50px auto;
  font-size: 3em;
}

#moreStudentInfo {
  margin-left: 40px;
}
.studentPicture{
  height: 90px;
  width: 90px;
}

.companyImage {
  height: 50px;
  width: 50px;
  margin: 50px;
  margin-top: -10px;
}
/*trying to make the brand image round like the parallax image*/
#seedImage { 
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 5px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}
#footerImage {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 5px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;  
}
#footer {
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:60px;
    z-index: 1000;
    width: 100%;
    border-width: 2px;
    border-style: solid;
}
.listContainer {
  background-color: white;
}
.sm_images {
  height: 75px;
  width: 240px;
  border: 1px solid black;
  }
  @media (min-width: 768px) {
  .modal-dialog {
    width: 1200px;
    margin: 30px auto;
  }
}
#studentMoreInfoSection {
  border: 2px solid black;
}
}
