
/* Header Start */
#head {
  background: #f4f4f4
  background-size: cover;
  color: #7C7C7C;
  padding: 30px 0 35px 0;
}
#head img.img-circle {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}
#head .title {
  font-family: Alice, Georgia, serif;
  font-size: 49px;
  font-size: 3.0625rem;
}
#head .title a {
  text-decoration: none;
  color: #333333;
}
#head .tagline {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2em;
  color: #7C7C7C;
  margin: 5px 0 0;
}
#head .tagline b {
  font-weight: normal;
}
#head .tagline a {
  color: #5E5E5E;
}
.home #head {
  padding: 90px 0;
}
.home #head .title {
  font-size: 49px;
  font-size: 3.0625rem;
}
.home #head .tagline {
  font-size: 16px;
  font-size: 1rem;
  margin: 15px 0 0;
}
#footer-image {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto; 
}

/* Header End */

#formStudentSearch {
  margin-left:300px;
}
.checkboxs {
  font-size: 110%;
  display: inline;
  list-style-type: none;
}
input[type=checkbox]
{
  width: 20px;
  margin:0;
  /* Double-sized Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
}
.checkbox-grid li {
    display: inline-block;
    float: left;
    width: 20%;
}
#expertiseLabel{
  text-align: center;
}

ul {
  list-style: none;
}

#expertiseFilterLabel {
  text-align: center;
}

.studentImages {
  margin: 25px;
  height: 75px;
  width: 75px;
}

#studentMoreInfoImg {
  height: 100px;
  width: 100px;
}

#studentMoreInfoList {
  margin-left: -45px;
}

#studentsSectionHeader {
  text-align: center;
  margin: 50px auto;
  font-size: 3em;
}

#moreStudentInfo {
  margin-left: 40px;
}
.studentPicture{
  height: 90px;
  width: 90px;
}

.companyImage {
  height: 50px;
  width: 50px;
  margin: 50px;
  margin-top: -10px;
}
/*trying to make the brand image round like the parallax image*/
#seedImage { 
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 5px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}
#footerImage {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 5px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;  
}
#footer {
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:60px;
    z-index: 1000;
    width: 100%;
    border-width: 2px;
    border-style: solid;
}
.listContainer {
  background-color: white;
}
.sm_images {
  height: 75px;
  width: 240px;
  border: 1px solid black;
  }
  @media (min-width: 768px) {
  .modal-dialog {
    width: 1200px;
    margin: 30px auto;
  }
}
#studentMoreInfoSection {
  border: 2px solid black;
}

/* Footer Start */

.footer-main{
  background-color: #F5F5F5;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-main .footer-left,
.footer-main .footer-center,
.footer-main .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-main .footer-left{
  width: 40%;
}

/* The company logo */



.footer-main h3{
  color:  #black;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-main h3 span{
  color:  #black;
}

/* Footer links */

.footer-main .footer-links{
  color:  #black;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-main .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-main .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-main .footer-center{
  width: 35%;
}

.footer-main .footer-center i{
  background-color:  #BDBDBD;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-main .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-main .footer-center p{
  display: inline-block;
  color: #black;
  vertical-align: middle;
  margin:0;
}

.footer-main .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-main .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-main .footer-right{
  width: 20%;
}

.footer-main .footer-company-about{
  line-height: 20px;
  color:  #black;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-main .footer-company-about span{
  display: block;
  color:  #black;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-main .footer-icons{
  margin-top: 25px;
}

.footer-main .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #BDBDBD;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
/* Footer End */